@{
    ViewData["Title"] = "PAGINA WEB";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">HOLA</h1>
    <h1 class="display-4">HOLA2</h1>
     <h1 class="display-4">Hola soy Loreley, Azure</h1>
    <h1 class="display-4">Deseo que me salga bien este cambio :*</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
